.success{
    color: green;
    font-size: 40px;
    font-weight: 400;
    border:1px solid green;
}

.failure{
    color: red;
   font-size: 40px;
    font-weight: 400;
}

.error{
    color: yellow;
   font-size: 40px;
    font-weight: 400;
}